.navContainer {
  position: relative;
  display: flex;
  padding: 20px;
  border-bottom: 1px solid #e2e3e5;

  justify-content: space-between;
  align-items: center;
}

/* .logo {
  cursor: pointer;
  margin-right: 60px;
  padding: 20px 0 20px 20px;
} */

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 767px) {
  .navContainer {
    max-width: none;
    justify-content: space-between;
  }

  .menu {
    display: block;
  }
}

@media screen and (min-width: 1279px) {
  .navContainer {
    max-width: none;
    justify-content: space-between;
  }

  .menu {
    display: block;
  }
}
